<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>&{'appName'}</title>
    <link rel="stylesheet" href="@{'/public/stylesheets/weui.css'}"/>
  <link rel="stylesheet" href="@{'/public/stylesheets/frozen.css'}"/>
</head>
<body>
<footer class="weui_tabbar ui-footer ui-footer-btn">
	<div class="weui_tabbar_item ui-row ui-border-r">
	<a href="javascript:;" class="ui-col ui-col-50 ui-border-r">
		<div class="weui_tabbar_icon">
			<img src="@{'/public/images/actor.jpeg'}" alt="">
		</div>
		<p class="weui_tabbar_label">收藏</p>
	</a>
	<a href="javascript:;" class="ui-col ui-col-50">
		<div class="weui_tabbar_icon">
			<img src="@{'/public/images/actor.jpeg'}" alt="">
		</div>
		<p class="weui_tabbar_label">分享</p>
	</a>
	</div>
	<button class="weui_tabbar_item ui-btn-primary">订餐</button>
	<!--<button class="weui_tabbar_item" style="display: block; font-size: 18px; background-color: #ED1B24; color: #fff;">订餐</button> -->
</footer>
<section class="ui-container">
	<div  class="ui-placehold-img" style="height:150px;">
		<span style="background:url(@{'/public/images/tfzg.jpg'}) no-repeat center;"></span>
	</div>
	<article class="weui_article">
		<h1 style="color: #de7c23;">土匪猪肝</h1>
		<section>
			<h2 class="ui-border-b">简介</h2>
			<section>
				<p>土匪猪肝，属赣菜系列。在江西一带很是流传，其讲究鲜，辣，香。口感要滑嫩，略带点烫嘴的感觉。很适合无辣不欢的人群哦。</p>
			</section>
		</section>
		<section>
			<h2 class="ui-border-b">用料</h2>
			<section>
				<ul class="ui-row">
					<li class="ui-col ui-col-50">猪肝</li>
					<li class="ui-col ui-col-50">200g</li>
					<li class="ui-col ui-col-50">青椒</li>
					<li class="ui-col ui-col-50">50g</li>
					<li class="ui-col ui-col-50">红椒</li>
					<li class="ui-col ui-col-50">30g</li>
					<li class="ui-col ui-col-50">姜丝</li>
					<li class="ui-col ui-col-50">10g</li>
				</ul>
			</section>
		</section>
		<section>
			<h2 class="ui-border-b">做法</h2>
			<section>
				<ul class="ui-list" style="background-color: inherit;">
					<li style="margin-left: 0px;">
						<h4>1、先把猪肝切片，用淀粉，鸡蛋把猪肝先腌制一下，让其变的嫩一点。青尖椒切薄段。</h4>
					</li>
					<li style="margin-left: 0px;">
						<h4>2、起锅热油，下猪肝滑油（注意：猪肝下油略变色就倒出，一定要保证猪肝的嫩）。</h4>
					</li>
					<li style="margin-left: 0px;">
						<h4>3、另取一锅，下油爆香姜蒜。把青尖椒下锅煸一下。</h4>
					</li>
					<li style="margin-left: 0px;">
						<h4>4、下滑油后的猪肝，调味。放盐，生抽，料酒。翻炒均匀。</h4>
					</li>
					<li style="margin-left: 0px;">
						<h4>5、勾欠起锅装盘。</h4>
					</li>
				</ul>
			</section>
		</section>
		<section>
			<h2 class="ui-border-b">评论</h2>
			<section>
				<ul class="ui-list ui-list-pure" style="background-color: inherit;">
					<li style="margin-left: 0px;">
						<p><span>1.faycheng </span><span class="date"> 2月12日</span></p>
						<h4>好吃好吃真好吃，达巴瓦拉就是好吃！</h4>
					</li>
					<li class="ui-border-t" style="margin-left: 0px;">
						<p><span>2.faycheng </span><span class="date"> 2月12日</span></p>
						<h4>好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！好吃好吃真好吃，达巴瓦拉就是好吃！</h4>
					</li>
					<li class="ui-border-t" style="margin-left: 0px;">
						<p><span>3.faycheng </span><span class="date"> 2月12日</span></p>
						<h4><好吃好吃真好吃，达巴瓦拉就是好吃！</h4>
					</li>
				</ul>
			</section>
		</section>
	</article>
</section>
</body>
<script src="@{'/public/javascripts/zepto.min.js'}"></script>
</html>
