<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>&{'appName'}</title>
    <link rel="stylesheet" href="@{'/public/stylesheets/weui.css'}"/>
    <link rel="stylesheet" href="@{'/public/css/frozen.css'}"/>
</head>
<body style="background-color: white;">
<div id="rootContainer">
<form id="bookForm" action="@{Orders.create()}" style="margin-top: 50px;">
#{authenticityToken /}
    <div class="weui_cells_title">订单信息</div>
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-border-b">
            <label>
                联系人
            </label>
            <input name="order.name" type="text" placeholder="配送时联系人姓名">
        </div>
        <div class="ui-form-item ui-border-b">
            <label>
                联系电话
            </label>
            <input name="order.phonenum" type="text" placeholder="联系人手机号码">
        </div>
        <div id="validPhone" class="ui-form-item ui-form-item-r ui-border-b" style="display: none;">
            <input type="text" placeholder="请输入验证码">
            <!-- 若按钮不可点击则添加 disabled 类 -->
            <button type="button" class="ui-border-l">发送验证码</button>
        </div>
        <div class="ui-form-item ui-border-b">
            <label>
                送餐片区
            </label>
            <input name="order.state" type="hidden" value="广东">
            <div class="ui-select-group">
                <div class="ui-select">
                    <select id="city" name="order.city">
                        <option>深圳</option>
                    </select>
                </div>
                <div class="ui-select">
                    <select id="block" name="order.block">
                        <option>科兴科技园</option>
                        <option selected>软件创业园</option>
                        <option>深圳大学</option>
                    </select>
                </div>
                <div class="ui-select">
                    <select id="unit" name="order.unit">
                        <option>A座</option>
                        <option selected>B座</option>
                        <option>C座</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ui-form-item ui-border-b">
            <label>
                详细地址
            </label>
            <input name="order.addr" type="text" placeholder="楼层门牌号公司名称">
        </div>
    </div>
    <ul class="ui-list ui-border-b">
        <li style="padding: 20px 0px 20px 0px; ">
            <input name="product" type="hidden" value="${product.id}">
            <input name="productId" type="hidden" value="${product.productId}">
            <input name="order.pricelstid" type="hidden" value="${product.priceId}">
            <div class="ui-avatar">
                <span style="background-image:url(@{'/public/images/tfzg.jpg'})"></span>
            </div>
            <div class="ui-list-info">
                <ul class="ui-row-flex">
                    <li class="ui-col ui-col-3">
                        <h4 class="ui-nowrap">${product.productName}</h4>
                    </li>
                    <li class="ui-col">
                        <div class="ui-txt-default">x 1</div>
                    </li>
                    <li class="ui-col">
                        <div class="ui-txt-highlight" style="position: absolute;right: 15px;">${product.stdPrice}元</div>
                    </li>
                </ul>
            </div>
        </li>
        <li style="padding-bottom: 20px; color: #04BE02;">
            <ul class="ui-row-flex">
                <li class="ui-col">
                    <label class="ui-label-s" style="position: absolute;margin-top: 15px;margin-left: 5px;">优惠券</label>
                </li>
                <li class="ui-col ui-col-3" style="margin-right: 25px;">
                    <div class="ui-select ui-form-item ui-border-tb">
                        <select name="couponId">
                            <option value="">不使用</option>
                        #{list items:couponList, as:'coupon'}
                            <option value="${coupon.id}">${coupon.name}</option>
                        #{/list}
                        </select>
                    </div>
                </li>
                <li class="ui-col">
                    <div class="ui-txt-highlight" style="position: absolute;margin-top: 10px;right: 15px;">-3元</div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="ui-row-flex" style="padding: 10px 0px 10px 0px; margin-bottom: 20px;">
        <li class="ui-col ui-col-4 ui-flex ui-flex-pack-end">
            <h4 style="padding-top: 7px;">订单金额</h4>
        </li>
        <li class="ui-col">
            <h1 class="ui-txt-highlight" style="position: absolute;right: 15px; font-size: 24px;">17元</h1>
        </li>
    </ul>
    <input type="submit" value="付款" class="weui_btn weui_btn_primary">
</form>
</div>
</body>
<script type="text/html" id="paySuccessTmpl">
    <div class="page slideIn msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">支付成功</h2>
                <p class="weui_msg_desc">欢迎享用您的健康午餐</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="@{My.index()}" class="weui_btn weui_btn_primary">确定</a>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="payFailureTmpl">
    <div class="page slideIn msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">支付失败</h2>
                <p class="weui_msg_desc">请检查微信钱包是否余额不足</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="@{My.index()}" class="weui_btn weui_btn_primary">确定</a>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="payCancelTmpl">
    <div class="page slideIn msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">支付失败</h2>
                <p class="weui_msg_desc">您取消了本次支付操作</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="@{My.index()}" class="weui_btn weui_btn_primary">确定</a>
                </p>
            </div>
        </div>
    </div>
</script>
<script src="@{'/public/javascripts/zepto.min.js'}"></script>
<script>
    var senderRange = [{"name": "深圳", "block": [{"name": "软件产业基地", "unit": ["A栋", "B栋", "C栋", "D栋"]}]}];
    function payOrder(orderId) {
        $.ajax({
            type: 'GET',
            url: '@{Orders.pay()}',
            dataType: 'json',
            data: {"orderId": orderId},
            success: function (data) {
                if (data.status == '${consts.DabbawalConsts.RESPONSE_RESULT_SUCCESS}') {
                    pay(data.result);
                } else {
                    alert(data.error);
                }
            },
            error: function (xhr, type) {
                alert("服务器错误")
            }
        });
        function pay(jssdkPayInfo) {

            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest',
                    {
                        "appId": jssdkPayInfo.appId,
                        "timeStamp": jssdkPayInfo.timeStamp,
                        "nonceStr": jssdkPayInfo.nonceStr,
                        "package": jssdkPayInfo.package,
                        "signType": jssdkPayInfo.signType,
                        "paySign": jssdkPayInfo.paySign
                    },
                    function (res) {
                        $("#rootContainer").empty();
                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                            $("#rootContainer").append($($("#paySuccessTmpl").html()));
                        } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                            $("#rootContainer").append($($("#payCancelTmpl").html()));
                        } else {
                            $("#rootContainer").append($($("#payFailureTmpl").html()));
                        }
                    }
            );
        }
    }

    function createOrder(){
        $.ajax({
            type: 'POST',
            url: '@{Orders.create()}',
            dataType: 'json',
            data: $("#bookForm").serialize(),
            success: function (data) {
                if (data.status == '${consts.DabbawalConsts.RESPONSE_RESULT_SUCCESS}') {
                    payOrder(data.result);
                } else {
                    alert(data.error);
                }
            },
            error: function (xhr, type) {
                alert("服务器错误")
            }
        });
        return false;
    }

    Zepto(function ($) {
        $("#bookForm").submit(createOrder);
    });
</script>
</html>
