<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>&{'appName'}</title>
    <link rel="stylesheet" href="@{'/public/stylesheets/frozen.css'}"/>
    <link rel="stylesheet" href="@{'/public/stylesheets/fontello-embedded.css'}"/>
</head>
<body style="background: white;">
<footer class="ui-footer" style="background-color: inherit;">
    <ul class="ui-tiled ui-border-t">
        <li class="ui-border-r">
            <a href="@{Application.index()}">
                <h1 class="icon-home ui-txt-red"></h1>
                <h5 class="ui-txt-info">首页</h5>
            </a>
        </li>
        <li class="ui-border-r">
            <a href="@{My.index()}">
                <h1 class="icon-user ui-txt-red"></h1>
                <h5 class="ui-txt-info">个人中心</h5>
            </a>
        </li>
        <li>
            <a href="@{Application.subscribe()}">
                <h1 class="icon-info ui-txt-red"></h1>
                <h5 class="ui-txt-info">关于我们</h5>
            </a>
        </li>
    </ul>
</footer>
<section class="ui-container">
    <section class="ui-container ui-center">
        <img class="ui-avatar-lg" src="${authInfo.headimgurl}" alt="">
        <h4>${authInfo.name}</h4>
        <p class="ui-txt-info">快来准备明天的午餐吧！</p>
    </section>
    <div class="ui-tooltips ui-tooltips-warn">
        <div class="ui-tooltips-cnt ui-border-b">
            <i></i>试行期每天仅售100份，还剩${productCount}份。
        </div>
    </div>

    <ul class="ui-list ui-list-function">
    #{list items:productList, as:'product'}
        <li class="ui-border-t">
            <div class="ui-avatar">
                <span style="background-image:url('/products/images/${product.productNo}_001.jpg')"></span>
            </div>
            <div class="ui-list-info">
                <ul class="ui-row">
                    <li class="ui-col ui-col-75">
                        <h4 class="ui-nowrap">${product.productName}#{if product.laLevel > 0}<label class="ui-label-s"
                                                                                                    style="position: absolute;margin-top: 5px; margin-left: 2px;">辣</label>#{/if}
                        </h4>
                        <p class="ui-nowrap">收拾收拾${product.productDesc}</p>
                    </li>
                    <li class="ui-col ui-col-25">
                        <div class="ui-txt-highlight"
                             style="position: absolute;top: 50%;margin-top: -10px;">${product.stdPrice}元
                        </div>
                    </li>
                </ul>

            </div>
            <a href="@{Products.book(product.id)}" class="ui-btn"
               style="border-radius: 0;color: #04BE02;border-color: #04BE02;background: white;">订餐</a>
        </li>
    #{/list}
    </ul>
</section>
</body>
<script src="@{'/public/javascripts/zepto.min.js'}"></script>
</html>
