<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>&{'appName'}</title>
    <link rel="stylesheet" href="@{'/public/stylesheets/weui.css'}"/>
    <link rel="stylesheet" href="@{'/public/stylesheets/frozen.css'}"/>
    <link rel="stylesheet" href="@{'/public/stylesheets/fontello-embedded.css'}"/>
    <style>
        .rating-wrapper {
            display: inline-block;
            position: relative;
        }

        .rating {
            width: 130px;
            height: 25px;
            background: url("@{'/public/images/stars.png'}") no-repeat;
            background-size: 100%;
            cursor: pointer;
        }

        .rating-bg {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 0%;
            height: 25px;
            z-index: 2;
            background: #F9FF00;
            background: url("@{'/public/images/stars.png'}") no-repeat;
            background-position: -1px -25px;
        }

        .clickli:hover {
            background-color: #f3ffec;
        }
    </style>
</head>
<body style="background: white;">
<div id="rootContainer" style="background-color: inherit;">
    <footer class="ui-footer" style="background-color: inherit;">
        <ul class="ui-tiled ui-border-t">
            <li class="ui-border-r">
                <a href="@{Application.index()}">
                    <h1 class="icon-home ui-txt-info"></h1>
                    <h5 class="ui-txt-info">首页</h5>
                </a>
            </li>
            <li class="ui-border-r" disabled>
                <a href="@{My.index()}">
                    <h1 class="icon-user" style="color: #04BE02;"></h1>
                    <h5 class="ui-txt-info">个人中心</h5>
                </a>
            </li>
            <li>
                <a href="@{Application.subscribe()}">
                    <h1 class="icon-info ui-txt-info"></h1>
                    <h5 class="ui-txt-info">关于我们</h5>
                </a>
            </li>
        </ul>
    </footer>
    <section class="ui-container">
        <section class="ui-container ui-center ui-border-b">
            <img class="ui-avatar-lg" src="${authInfo.headimgurl}" alt="">
            <h4>${authInfo.name}</h4>
            <p class="ui-txt-info">快来准备明天的午餐吧！</p>
        </section>
        <ul class="ui-list">
        #{list items:orderList, as:'order'}
            <li #{if order[0].status == "待定"}
                    onclick="payOrder('${order[0]?.id}');" class="ui-border-t clickli"
            #{/if}
                #{elseif order[0].status == "已完成"}
                    onclick="commentOrder('${order[0]?.id}', '${order[0]?.no}');" class="ui-border-t clickli"
                #{/elseif}
                #{else}
                    class="ui-border-t"
                #{/else}
            >
                <div class="ui-list-img" style="width: 70px; height: 48px;">
                    <span style="background-image:url('/products/images/${order[1]?.productNo}_001.jpg');"></span>
                </div>
                <div class="ui-list-info">
                    <ul class="ui-row-flex">
                        <li class="ui-col ui-col-4">
                            <h4 class="ui-nowrap">${order[1]?.productName}</h4>
                            <p class="ui-nowrap" style="font-size: 12px;">订单号:${order[0]?.no} <i
                                    class="icon-clock"></i>#{if utils.DateUtils.howManyDaysAgo(order[0].createdDate) == 0}
                                今天#{/if}#{else}${utils.DateUtils.howManyDaysAgo(order[0].createdDate)}天前#{/else}
                            </p>
                        </li>
                        <li class="ui-col">
                            <div class="ui-txt-highlight"
                                 style="position: absolute;top: 50%;margin-top: -10px;">${order[0]?.price}元
                            </div>
                        </li>
                        <li class="ui-col">
                            <h5 id="status_${order[0]?.id}"
                                style="position: absolute;top: 50%;margin-top: -7px;#{if order[0].status == "待定" || order[0].status == "已完成"}color: #04BE02;#{/if}#{else}color: #777;#{/else}">
                                #{if order[0].status == "待定"}
                                    付款
                                #{/if}
                                #{elseif order[0].status == "已完成"}
                                    点评
                                #{/elseif}
                                #{else}
                                ${order[0]?.status}
                                #{/else}
                            </h5>
                        </li>
                    </ul>
                </div>
            </li>
        #{/list}
        </ul>
        <div class="ui-dialog">
            <form id="commentForm" action="@{Orders.comment()}" method="get">
                <input type="hidden" id="orderId" name="orderId" value="1-AQGE">
                <div class="ui-dialog-cnt">
                    <header class="ui-dialog-hd">
                        <h5 id="orderNo">订单号: </h5>
                    </header>
                    <div class="ui-form-item ui-border-b">
                        <div class="rating-wrapper" id="starEvaluate">
                            <div class="rating-bg"></div>
                            <div class="rating"></div>
                        </div>
                        <span class="ui-txt-tips ui-txt-highlight"
                              style="position: absolute;margin-top: -5px;">*为您的厨师加星</span>
                        <input id="score" name="score" type="hidden" value="0">
                    </div>
                    <div class="ui-form-item ui-form-item-textarea ui-form-item-pure">
                        <textarea name="content" placeholder="写下您的评价"></textarea>
                    </div>
                    <div class="ui-dialog-ft">
                        <button type="submit" class="selected" data-role="button">确定</button>
                        <button class="resetForm" type="reset" data-role="button">取消</button>
                    </div>
                </div>
            </form>
        </div>
</div>
<div id="loading" class="ui-loading-block">
    <div class="ui-loading-cnt">
        <i class="ui-loading-bright"></i>
        <p>加载中...</p>
    </div>
</div>
<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">已完成</p>
    </div>
</div>
</body>
<script src="@{'/public/javascripts/zepto.min.js'}"></script>
<script src="@{'/public/javascripts/frozen.js'}"></script>
<script type="text/javascript">
    var timeout;
    function showMsg(type, msg) {
        clearTimeout(timeout);
        $("#toast .weui_toast_content").text(msg);
        $("#toast").show();
        timeout = setTimeout(function () {
            $("#toast").hide();
        }, 2000);
    }

    function cancelOrder(orderId) {
        $.ajax({
            type: 'POST',
            url: "@{Orders.cancel()}",
            dataType: 'json',
            data: {"orderId": orderId},
            success: function (data) {
                $("#loading").removeClass("show");
                if (data.status == '${consts.DabbawalConsts.RESPONSE_RESULT_SUCCESS}') {
                    $("#status_" + orderId).text("${consts.DabbawalConsts.ORDER_STATUS_CANCELD}");
                    showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_SUCCESS}', "已撤单");
                } else {
                    showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_ERROR}', data.error);
                }
            },
            error: function (xhr, type) {
                $("#loading").removeClass("show");
                showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_ERROR}', "撤单失败");
                ;
            }
        });
        $("#loading").addClass("show");
    }

    function payOrder(orderId) {
        $.ajax({
            type: 'GET',
            url: '@{Orders.pay()}',
            dataType: 'json',
            data: {"orderId": orderId},
            success: function (data) {
                $("#loading").removeClass("show");
                if (data.status == '${consts.DabbawalConsts.RESPONSE_RESULT_SUCCESS}') {
                    pay(data.result);
                } else {
                    showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_ERROR}', data.error);
                }
            },
            error: function (xhr, type) {
                $("#loading").removeClass("show");
                showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_ERROR}', '支付失败');
            }
        });
        $("#loading").addClass("show");
        function pay(jssdkPayInfo) {

            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest',
                    {
                        "appId": jssdkPayInfo.appId,
                        "timeStamp": jssdkPayInfo.timeStamp,
                        "nonceStr": jssdkPayInfo.nonceStr,
                        "package": jssdkPayInfo.package,
                        "signType": jssdkPayInfo.signType,
                        "paySign": jssdkPayInfo.paySign
                    },
                    function (res) {
                        $("#rootContainer").empty();
                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                            $("#rootContainer").append($($("#paySuccessTmpl").html()));
                        } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                            $("#rootContainer").append($($("#payCancelTmpl").html()));
                        } else {
                            $("#rootContainer").append($($("#payFailureTmpl").html()));
                        }
                    }
            );
        }
    }

    function commentOrder(orderId, orderNo) {
        $("#orderId").val(orderId);
        $("#orderNo").text("订单号: " + orderNo);
        $(".ui-dialog").addClass("show");
    }

    $("#starEvaluate").on("click", function () {
        var x = event.offsetX;
        var y = event.offsetY;
        console.log(x + " " + y);
        var score = Math.floor(x / 25) + 1;
        renderStar(score);
    });

    function renderStar(score) {
        var w = (+score) * 25 + "px";
        $("#starEvaluate .rating-bg").css("width", w);
        $("#score").val(score);
    }

    function showMsg(type, msg) {
        var w = (+score) * 25 + "px";
        $("#starEvaluate .rating-bg").css("width", w);
        $("#score").val(score);
    }

    function resetCommentForm() {
        $(".ui-dialog").removeClass("show");
        document.getElementById("commentForm").reset();
        renderStar(0);
    }

    Zepto(function ($) {
        $("#commentForm .resetForm").click(resetCommentForm);
        $("#commentForm").submit(function () {
            $.ajax({
                type: 'POST',
                url: $("#commentForm").attr("action"),
                dataType: 'json',
                data: $("#commentForm").serialize(),
                success: function (data) {
                    $("#loading").removeClass("show");
                    if (data.status != '${consts.DabbawalConsts.RESPONSE_RESULT_SUCCESS}') {
                        showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_ERROR}', data.error);
                    }
                },
                error: function (xhr, type) {
                    $("#loading").removeClass("show");
                    showMsg('${consts.DabbawalConsts.RESPONSE_RESULT_ERROR}', "评论失败");
                }
            });
            resetCommentForm();
            $("#loading").addClass("show");
            return false;
        });
    });
</script>
<script type="text/html" id="paySuccessTmpl">
    <div class="page slideIn msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">支付成功</h2>
                <p class="weui_msg_desc">欢迎享用您的健康午餐</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="@{My.index()}" class="weui_btn weui_btn_primary">确定</a>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="payFailureTmpl">
    <div class="page slideIn msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">支付失败</h2>
                <p class="weui_msg_desc">请检查微信钱包是否余额不足</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="@{My.index()}" class="weui_btn weui_btn_warn">确定</a>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="payCancelTmpl">
    <div class="page slideIn msg">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">支付失败</h2>
                <p class="weui_msg_desc">您取消了本次支付操作</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="@{My.index()}" class="weui_btn weui_btn_warn">确定</a>
                </p>
            </div>
        </div>
    </div>
</script>
</html>
